@model PagedList.IPagedList<Models.Framework.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- DataTales Example -->

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Product</h6>
    </div>
    <div class="card-body">
        <p>
            @Html.ActionLink("Create New", "Create", "Product")
        </p>

        @using (Html.BeginForm("Index", "Product", FormMethod.Get))
        {
            <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">

                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." name="searchString" value="@ViewBag.SearchString"
                           aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        }

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Meta Title</th>
                        <th>Description</th>
                        <th>Product Image</th>
                        <th>Price</th>
                        <th>Promotion Price</th>
                        <th>VAT</th>
                        <th>Quantity</th>
                        <th>Category ID</th>
                        <th>Details</th>
                        <th>Warranty</th>
                        <th>Create Date</th>
                        <th>Meta key</th>
                        <th>Meta Des</th>
                        <th>Status</th>
                        <th>Top hot</th>
                        <th>View Count</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ProductID">
                            <td>@item.ProductCode</td>
                            <td>@item.ProductName</td>
                            <td>@item.MetaTitle</td>
                            <td>@item.Description</td>
                            <td><img src="@Url.Content(item.ProductImage)" width="80px"height="80px" /></td>
                            <td>@item.Price</td>
                            <td>@item.PromotionPrice</td>
                            <td>@item.IncludeVAT</td>
                            <td>@item.Quantity</td>
                            <td>@item.CategoryID</td>
                            <td>@item.Detail</td>
                            <td>@item.Warranty</td>
                            <td>@item.CreatedDate</td>
                            <td>@item.MetaKeywords</td>
                            <td>@item.MetaDescriptions</td>
                            <td>@item.Status</td>
                            <td>@item.TopHot</td>
                            <td>@item.ViewCounts</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID })
                                @Html.ActionLink("Details", "Details", new { id = item.ProductID })
                                @Ajax.ActionLink("Delete", "Delete", new { id = item.ProductID }, new AjaxOptions
                           {
                               Confirm = "Ban co muon xoa ban ghi nay?",
                                    OnComplete = "$('#row_" + item.ProductID + "').remove()",
                               HttpMethod = "Delete"
                           })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <br />
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
        </div>
    </div>
</div>
